<h1>We love plants!</h1>
<p>
  <pre>
                              ..,,..    ...,,..
      ,%,                .. ,#########::#########:,
      :#%%,           ,,:',####%%%%%%##:`::%%%%####,
     ,##%%%%,      ,##%% ,##%%%:::::''%' `::::%%####,
     %###%%;;,   ,###%%:,##%%:::''    '  . .`:::%%###,
    :####%%;;:: ,##%:' ,#%::''   .,,,..    . .`::%%%##,
    %####%;;::,##%:' ,##%''  ,%%########%     . `:::%%##,
    ######:::,##%:',####:  ,##%%:''     `%%,     .`::%%##,
    :#####%:'##%:',#####' ,###%' ,%%%%,%%,'%,     . ::%%###,,..
     #####%:,#%:'#######  %%:'%  %'  `%% %% %%,.     '::%%#######,
     `####%,#%:',####### ::' %   ' ,%%%%%%, ::%%.    . '::%%######
      `###'##%: ######## ,.   %%  %%,   ':: `:%%%  :  . .:::%%###'
      ,,::,###  %%%%%### ::  % %% '%%%,.::: .:%%%   #.  . ::%%%#'
,,,:::%%##:;#   `%%%%%## :% ,%, %   ':%%:'  #%%%' ,.:##.  ::%#'
::%%#####% %%:::  :::%%% `%%,'%%     ..,,%####' :%# `::##, ''
###%%::'###%::: .   `:::, `::,,%%%######%%'',::%##' ,:::%##
''''   ,####%:::. .  `::%,     '':%%::' .,::%%%#'   :::%%%##,
      :#%%'##%:::.  . . "%::,,.. ..,,,,::%%%###'  ,:%%%%####'
     ,###%%'###%:::: . . `::::::::::%%%#####'   ,::%####:'
     %###%%;'###%::::.   .`::%%%%%%%#####:'  ,,::%%##:'
     ####%;:;'####%:::::.   `:%######::'  ,,:::%%###
     %####;:;'######%%::::.           ,::::%%%####'
     `####%;:'`#########%%:::....,,:::%%%#######'
        ;#####;;'..;;:::#########::%%#########:"'
                       ~~~~``````''''~~~
  </pre>
</p>
